@font-face {
		
		font-family: 'Tinos';
		font-style: normal;
		font-weight: 400;
		src: local('Tinos Regular'), local('Tinos-Regular'),
       url('../fonts/tinos-v11-latin/tinos-v11-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/tinos-v11-latin/tinos-v11-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

		/* caveat-brush-regular - latin */
		@font-face {
		  font-family: 'Caveat Brush';
		  font-style: normal;
		  font-weight: 400;
		  src: local('Caveat Brush'), local('CaveatBrush-Regular'),
		   url('../fonts/caveat-brush-v3-latin/caveat-brush-v3-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
		   url('../fonts/caveat-brush-v3-latin/caveat-brush-v3-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}