html {
	box-sizing: border-box;
	font-family: 'Tinos';
	color: var(--text);
}

body {
	box-sizing: border-box;
	font-family: 'Tinos';
	color: var(--text);

	/* top level grid */
  display: grid;
  grid-template-rows: 1fr 100px;
  grid-template-columns: 100%;
  grid-template-areas: "content"
                        "launchbar";
}

#title a {
    text-decoration: none;
    color: var(--text);
}

.upper{
	text-transform: uppercase;
}

.IDEAS{
	font-size: 1.1153846153846153846153846153846em;
}

.container{
	height: 100%;
	display: -webkit-flexbox;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	justify-content: center;
	font-family: "Caveat Brush";
	color: #991B33;
	font-size: 5em;
}

/* Tooltip container */
.tooltip {
    width:1px;
    height:1px;
}
/* Tooltip links */
.tooltip .tooltiptext_l {
   visibility: hidden;
    top: 68vh;
    left: 15vw;
    font-family: Caveat Brush;
    font-size: 2.5em;
    color:black;
    position: absolute;
    z-index: 2;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext_l {
    visibility: visible;
}

/* Tooltip rechts unten */
.tooltip .tooltiptext_ru {
   visibility: hidden;
    top: 65vh;
    left: 55vw;
    font-family: Caveat Brush;
    font-size: 2.5em;
    color:black;
    position: absolute;
    z-index: 2;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext_ru {
    visibility: visible;
}

/* Tooltip rechts oben */
.tooltip .tooltiptext_ro {
   visibility: hidden;
    top: 4vh;
    left: 58vw;
    font-family: Caveat Brush;
    font-size: 2.5em;
    color:black;
    position: absolute;
    z-index: 2;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext_ro {
    visibility: visible;
}

#Titeltext {
    top: 35vh;
    left: 25vw;
    width: 50vw;
    text-align: center;
    font-family: Caveat Brush;
    font-size: 3em;
    color:black;
    position: absolute;
    z-index: 3;
}

#octo_kopf {
    position: absolute;
	top: 0px;
	left: 0;
	width: 25vw;
	height: 30vh;
    z-index:1;
}

#octo_arm_links{
    position: absolute;
	bottom: 0px;
	left: 0;
	width: 20vw;
	height: 40vh;
    transform: translateY(-25%);
	z-index:1;
}

#octo_arm_rechts_oben {
    position: absolute;
	top: 0;
	right: -10px;
	width: 28vw;
	height: 30vh;
    z-index:1;
}

#octo_arm_rechts_unten{
	position: absolute;
	bottom: 0;
	right: -10px;
	width: 40vw;
	height: 30vh;
    z-index:1;
}

#arrowRight{
	top: 50vh;
	right: 1%;
	width: 4vw;
	height: auto;
	position: absolute;
}

#arrowLeft{
	top: 50vh;
	left: 1%;
	width: 4vw;
	height: auto;
	position: absolute;
}
#videobox {
	position: fixed;
	width: 30%;
	height: 60%;
	background-color: rgba(255, 255, 255, 0);
	top: 0px;
	left: 0px;
	z-index: 3;
	overflow-x: scroll;
	overflow-x: hidden;
}

/* Ab hier pulsierende Tentakel by A. Hager */


#tentacle_img_small_launchbar {
  animation: pulse 0.6s infinite;
  animation-iteration-count: 8;
  animation-direction: alternate;
}

@keyframes pulse {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0.6;
    transform: scale(1.05);
  }
}
