/* the rocket bar is not animated yet and there is no
navigation logic in the small tentacle images.
With 99% probability this logic has to be done With
JS as there is no or not sufficient CSS only solution. */

.rocketbar{
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5); /* was grey */
/* 	opacity: 0.5;
	filter: alpha(opacity=50); /* For IE8 and earlier */
	position: fixed;
	bottom: 0;
	left: 0;
  margin: 0;
	max-height: 0;

	transition: all 1.5s;
  z-index: 2;

/* grid definition */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows:auto;
  grid-template-areas: "wiki icm crm imbit digitallearning interactive video impressum";
  /* grid-column-gap: 2vw; */
}

.rocketbar.open {
  max-height: 20vh;
}

/* tentacle on top of rocketbar */
#tentacle_img_small_launchbar{
  position: absolute;
  top:-47px;
  left: 5vw;
	cursor: pointer;
}

/* grid classes */
.icon{
  max-height: 16vh;
  max-width: 80%;
  padding-top: 10%;
  padding-bottom: 10%;
  cursor: pointer;
}

.imbit{
  grid-area: imbit;
  text-align: center;
}

.digitallearning{
  grid-area: digitallearning;
  text-align: center;
}

.icm{
  grid-area: icm;
  text-align: center;
}

.crm{
  grid-area: crm;
  text-align: center;
}

.wiki{
  grid-area: wiki;
  text-align: center;
}

.interactive{
  grid-area: interactive;
  text-align: center;
}

.video{
  grid-area: video;
  text-align: center;
}

.impressum{
  grid-area: impressum;
  text-align: center;
}
