body {
    width: 100%;
    height: 100%;
    font-family: Caveat Brush;
    color: black;
    margin: 0px;
}
a{
    color: white;
    text-decoration: none;

}
a:visited{
    color: white;
    text-decoration: none;
}

#video_background{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}
#video_background{
    z-index: -1000;
}
#tl{
    float: left;
}
#tentakel_l{
    position:absolute;
    bottom: 0;
    left: 0;
    width: 20%;
    height: 40%;
 }
#tr{
    float: right;
}
#tentakel_r{
    position:absolute;
    bottom: 0;
    right: 0;
    width: 40%;
    height: 30%;

}

.header{
    border-bottom: solid #991B33 5px  ;
    border-radius: 5px;
    margin-bottom: 3%;
    text-shadow: 1px 1px #991B33;
}

.question{
    font-size: 50px;
    margin-bottom:  1%;
    padding-left: 1%;
    width: 75%;
}

#content{
 /*   border: solid 4px green;*/
    margin-left: 6%;
    margin-right: 5%;
    margin-top: 1%;
}

#next_button_div{
    position: absolute;
    right: 100px;
    top: 60px;

}

#back_button_div{
    position: absolute;
    right: 220px;
    top: 60px;

}

#supergeil{
    font-size: 90px;
}

.button {
    border-radius: 10px;
    background-color: #991B33;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    width: 100px;
    height: 50px;
    margin: 5px;
    position: sticky;

}

.button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

