.dropTable{
    width: 200px;
    height: 70px;
    /*border: 1px solid #aaaaaa;*/
    float: left;
    padding: 0px 20px 20px 20px;
    margin: 10px;
    background: #eee;
    font-size: 28px;
    border: 3px solid #991B33;
    border-radius: 10px;
}

.drag{
   /* border: solid red 2px;*/

}
#answers{
 /*   border: solid green 3px;*/
    margin-bottom: 3%;
    float: left;
    padding: 0px 20px 20px 20px;
    width: 100px;
    margin-right: 3%;
    font-size: 28px;
}
.box_text{
    color: white;
    margin-top: 0px;
    background-color: #591220;
    margin: 0px -20px 0px -20px;
    padding-left: 10px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom: #991B33 solid  3px;
}
table {
	border-collapse: collapse;
	margin-left: 350px;
	
}

th {
	background-color: #991B33;

}

td {
	padding: 15px;
	text-align: left;
}

table, th, td {
	border: 3px solid black;
	font-size: 28px;
	
}