body {
	width: 100%;
	height: 100%;
	font-family: Caveat Brush;
	color: white;
	margin: 0px;

	background-color: #991b33;
}

a {
	color: white;
	text-decoration: none;
}

a:visited {
	color: white;
	text-decoration: none;
}

#video_background {
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
}

#video_background {
	z-index: -1000;
}

#tl {
	float: left;
}

#tentakel_l {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 20%;
	height: 40%;
	z-index: -100;
}

#tr {
	float: right;
}

#tentakel_r {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 40%;
	height: 30%;
	z-index: -100;
}

.header {
	border-bottom: solid #991B33 5px;
	border-radius: 5px;
	margin-bottom: 3%;
	text-shadow: 1px 1px #991B33;
}

.questionclass{
	font-size:2.5em;
	text-shadow: 1px 1px 1px white;
}

.question {
	font-size: 1.2em;
	margin-bottom: 1%;
	padding-left: 1%;
	width: 75%;
	text-shadow: 1px 1px 1px white;
}

#content {
	/*   border: solid 4px green;*/
	margin-left: 6%;
	margin-right: 5%;
	margin-top: 1%;
}

#next_button_div {
	position: absolute;
	right: 100px;
	top: 60px;
}

#back_button_div {
	position: absolute;
	right: 250px;
	top: 60px;
}

#supergeil {
	font-size: 3.5em;
	text-shadow: 1px 1px 1px white;
}

.button {
	border-radius: 10px;
	background-color: white;
	border: none;
	color: #991b33;
	text-align: center;
	font-size: 2.5em;
	height: 50px;
	margin: 5px;
	position: sticky;
}

.button:hover {
	box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0
		rgba(0, 0, 0, 0.19);
}

.button a{
	color: #991b33;
}