.fullBox {
	width: auto;
	/*border: 1px solid #aaaaaa;*/
	float: left;
	padding: 0px 20px 20px 20px;
	margin: 10px;
	background: #eee;
	border: 3px solid #991B33;
	border-radius: 10px;
}

.drop {
	width: auto;
	min-width: 80px;
	min-height: 80px;
	height: auto;
}

.drag {
	/* border: solid red 2px;*/
	text-shadow: 1px 1px 1px white;

}

#answers {
	/* border: solid green 3px;*/
	margin-bottom: 3%;
	float: left;
	padding: 0px 20px 20px 20px;
	width: 100px;
	margin-right: 3%;
}

.box_text {
	color: white;
	margin-top: 0px;
	background-color: #591220;
	margin: 0px -20px 0px -20px;
	padding-left: 10px;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	border-bottom: #991B33 solid 3px;
}